<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>Enter the information</h2><br><br><br>
    <form action="/" method="post">
        <label for="name">enter your name</label>
        <input type="text" name="name" id="name"><br><br>
        <label for="room">enter the room you want to join</label>
        <input type="text" name="room" id="room"><br><br><br>
        <button type="submit">join</button>
    </form>
</body>
</html>